.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #0891B2;
  border: 1px solid #0891B2;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  width: 100%;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #0E7490;
  border-color: #0E7490;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
